---
import Layout from '../layouts/Layout.astro';
import vortex from '../images/vortex.png';
---
<style>
	.bgBlue{
		background-image: linear-gradient(to top, #17255a, #223785);
		height: auto;
	}
	.blueText{
    color: #31afff;
	}
</style>

<Layout title="Welcome to Astro." description='Reserva tu cita en el cesit de italika de tecamac'>
	<main class="bgBlue">
		<div class="flex justify-between flex-col md:flex-row">
			<div class="p-8 md:p-20 mx-auto">
				<div class="flex items-center justify-center md:justify-start md:items-start basis-1/2 mt-32">
					<svg class="h-4 pr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#31afff" d="M78.6 5C69.1-2.4 55.6-1.5 47 7L7 47c-8.5 8.5-9.4 22-2.1 31.6l80 104c4.5 5.9 11.6 9.4 19 9.4h54.1l109 109c-14.7 29-10 65.4 14.3 89.6l112 112c12.5 12.5 32.8 12.5 45.3 0l64-64c12.5-12.5 12.5-32.8 0-45.3l-112-112c-24.2-24.2-60.6-29-89.6-14.3l-109-109V104c0-7.5-3.5-14.5-9.4-19L78.6 5zM19.9 396.1C7.2 408.8 0 426.1 0 444.1C0 481.6 30.4 512 67.9 512c18 0 35.3-7.2 48-19.9L233.7 374.3c-7.8-20.9-9-43.6-3.6-65.1l-61.7-61.7L19.9 396.1zM512 144c0-10.5-1.1-20.7-3.2-30.5c-2.4-11.2-16.1-14.1-24.2-6l-63.9 63.9c-3 3-7.1 4.7-11.3 4.7H352c-8.8 0-16-7.2-16-16V102.6c0-4.2 1.7-8.3 4.7-11.3l63.9-63.9c8.1-8.1 5.2-21.8-6-24.2C388.7 1.1 378.5 0 368 0C288.5 0 224 64.5 224 144l0 .8 85.3 85.3c36-9.1 75.8 .5 104 28.7L429 274.5c49-23 83-72.8 83-130.5zM56 432a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"/></svg>
					<p class="blueText">Servicio técnico</p>
				</div>
				<div>
					<h2 class="text-white font-semibold text-4xl md:text-7xl text-center md:text-start">Amas tu moto, nosotro también</h2>
					<p class="text-white text-3xl my-4 text-center md:text-start">500 km <span class="blueText">= 1er servicio </span></p>
					<h3 class="text-2xl md:text-4xl text-white md:mt-32 text-center md:text-start">Agenda tu cita en el mejor horario para ti</h3>
					<div class="my-3 flex justify-center md:justify-start">
						<button class="flex mt-8 md:mt-4 border-2 rounded border-[#31afff]">
							<a class="flex" href="https://itali.setmore.com/italika">
								<div class="mx-4 my-auto">
									<svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="white" d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zm64 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm128 0v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H336zM64 400v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H208zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H336c-8.8 0-16 7.2-16 16z"/></svg>
								</div>
								<div class="bg-[#31afff] p-2">
									<p class="text-white text-center mx-4">Agenda tu cita</p>
								</div>
							</a>
						</button>
					</div>
					<p class="text-white lg:pt-32 hidden md:block">Ve nuestras reseñas &rarr;</p>
				</div>
			</div>
			<div class="basis-1/2 flex">
				<img class="md:h-[100vh] object-contain md:object-cover mr-0" src={vortex.src} alt="">
			</div>
		</div>
	</main>
</Layout>

